.b02 {
    .b-title {
        max-width: initial;
    }
}
.b02__container {
}
.container {
}
.b02__top {
}
.b02__title {
    margin-bottom: 24px;
}

.b02__slider {
    position: relative;
}
.b02-bottom {
}

