.b08 {
    margin-bottom: 24px;
}
.b08__container {
}

.b08-box {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.b08-box__left {
    display: flex;
    gap: 12px;
    align-items: baseline;
}
.b08-left {
}
.b08-left__title {
    margin-top: 0;
    @include h2;
}
.b08-left__count {
    @include text_2;
    @include grey700;
}
.b08-box__right {
}
.b08-right {
    display: flex;
    gap: 8px;
    align-items: baseline;

    @include text_2;
}
.options-type {
}
.options-type__b08-right {
}
.options-type__current {
}
.title {
}
.icon {
}
.options-type__variants {
}
.variants-item {
}
.toggle {
}

.b08 {
    .options-type__current .title {
        @include text_2;
        @include grey700;

        background-color: transparent;
        border-radius: 12px;
        border: 1px solid var(--grey600);

        min-width: 278px;
    }

    .options-type__variants {
        top: 110%;
        right: 0;
        left: initial;

        color: var(--grey700);

        padding: 0;
        border: 1px solid var(--grey600);
        border-radius: 12px;
    }

    .variants-item {
        padding: 8px 12px;

        &:not(:last-child) {
            border-bottom: 1px solid var(--grey600);
        }
    }

}