.breadcrumbs {
	position: relative;
	z-index: 0;
	margin-top: 24px;
	margin-bottom: 22px;

	@media screen and (max-width: $b768) {
		display: none;
	}

	a, a span {
		@include text_2;
		color: var(--grey900);
		text-decoration: none;
	}

	a:not([class]) {
		text-decoration: none;
	}

	span {
		color: var(--grey600);
	}
}

.breadcrumbs .breadcrumbs__back {
	position: relative;
	display: inline-flex;
	margin-right: 25px;

	padding-left: 21px;

	@include fz-14_fw-600_lh-14-24;
	@include grey900;

	&::before {
		content: '';
		position: absolute;
		left: 0px;
		top: 50%;
		
		width: 16px;
		height: 16px;
		
		transform: translateY(-50%);
		
		background-image: url('../img/icons/back.svg');
		background-size: cover;
	}
}

.breadcrumbs__link, .breadcrumbs__text {
	display: inline-flex;
	padding-left: 7px;
	padding-right: 7px;
	font-size: 14px;
}