@font-face {
    font-family: 'Manrope';
    src: local('Manrope Regular'), local('Manrope-Regular'),
        url('../fonts/Manrope/Manrope-Regular.woff2') format('woff2'),
        url('../fonts/Manrope/Manrope-Regular.woff') format('woff');
    font-weight: normal;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: local('Manrope Medium'), local('Manrope-Medium'),
        url('../fonts/Manrope/Manrope-Medium.woff2') format('woff2'),
        url('../fonts/Manrope/Manrope-Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: local('Manrope Semibold'), local('Manrope-SemiBold'),
        url('../fonts/Manrope/Manrope-SemiBold.woff2') format('woff2'),
        url('../fonts/Manrope/Manrope-SemiBold.woff') format('woff');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}