// font-family: 'Inter', sans-serif;

@use "sass:math";

*,
*:before,
*:after {
	box-sizing: border-box;
	// box-sizing: inherit;
}

html,
body {
	margin: 0;
	padding: 0;

	font-style: normal;
	font-weight: normal;
	font-size: 10px;

	text-rendering: auto;

	background-color: #dedede;
}

body {
	position: relative;

	display: flex;
	flex-direction: column;

	min-width: 32rem;
	min-height: 100vh;
	overflow-x: hidden;

	color: var(--color-text);

	font-family: var(--font-family);
	line-height: 1.5;
	font-size: 1.6rem;

	/*Перенос длинных слов*/
	overflow-wrap: break-word;
	word-wrap: break-word;

	

	&.toggle {
		height: 100vh;
		overflow-y: hidden;
	}
}

.wrapper {
	position: relative;
	// max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	background-color: var(--grey000);

	box-shadow: 0px 0px 4px var(--grey600);
	overflow: hidden;
}

.visually-hidden {
	position: fixed;
	transform: scale(0);
}

.container {
	@include container;
}

.b-top {
    display: flex;
    align-items: baseline;
    gap: 42px;

    @include h3;
    color: var(--grey900);
}

.b-bottom {
	margin-top: 24px;
	
	display: flex;
	justify-content: center;
}

.b-top__readmore {

	@media screen and (max-width: $b_768px) {
		display: inline-flex;
		padding: 10px 24px;
	
		font-family: var(--font-family);
		@include fz-14_fw-400;
		color: var(--grey000);
		text-decoration: none;
	
		background-color: var(--grey900);
		border-radius: 6px;
		border: none;
	
		transition: background-color .25s, color .25s, transform .25s;
		cursor: pointer;
	}

    &:hover {
        text-decoration: underline;
    }
}

.b-title {
	max-width: 524px;
    @include h2;
	@include grey900;

	@media screen and (max-width: $b_992px) {
		font-size: 36px;
	}

	@media screen and (max-width: $b_768px) {
		flex-grow: 1;
		text-align: center;
		max-width: none;
		@include h2_mob;
	}
}

.b-descr {
    @include text;
    color: #545454;

	@media screen and (max-width: $b_768px) {
		@include text_mob;
	}
}

.b-indent {
    margin-bottom: 48px;

    @media screen and (max-width: $b_768px) {
        margin-bottom: 32px;
    }
}

a {
	color: var(--color-text);
	text-decoration: none;
}

a:not([class]) {
	text-decoration: underline;
	color: var(--color-text);
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul:not([class]) {
	padding-left: 2.2rem;

	li {
		position: relative;
		margin-bottom: .5rem;

		&:before {
			content: '';
			position: absolute;
			left: -1.5rem;
			top: .8rem;
			width: .6rem;
			height: .6rem;
			background-color: var(--color-text);
			border-radius: 50%;
		}
	}
}

.hidden {
	display: none;
}

.no-scroll {
	overflow: hidden;
}

.main {
	position: relative;
	z-index: 16;
}

.content {
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.section-header {
	margin-top: 0;

	font-size: 3.2rem;
	line-height: 1.2;
	font-weight: 600;
	text-transform: uppercase;

	@media screen and (max-width: $b_992px) {
		font-size: 2.6rem;
	}

	@media screen and (max-width: $b_768px) {
		font-size: 2.2rem;
	}
}

.section-header__sub-title {
	margin-top: 0;
	margin-bottom: 1rem;
	font-size: 2.4rem;
	line-height: 1.16;
	font-weight: 600;

	@media screen and (max-width: $b_1200px) {
		font-size: 2rem;
	}

	@media screen and (max-width: $b_992px) {
		font-size: 1.8rem;
	}
}



h3:not([class]) {
	margin-top: 4rem;
	margin-bottom: 1.5rem;

	font-family: 'Raleway', sans-serif;
	font-size: 3.2rem;
	font-weight: 600;
	line-height: 1.18;
}

.hidden-text {
	@media screen and (max-width: $b_768px) {
		display: none;

		&.active {
			display: block;
		}
	}
}

.text-center {
	text-align: center;
}

.show-text {
	display: none;

	margin-top: 1.6rem;
	margin-bottom: 1.6rem;
	padding: 0;

	text-decoration: underline;
	color: var(--color-main);

	border: none;
	background-color: transparent;

	@media screen and (max-width: $b_768px) {
		display: inline-block;
	}
}

.swiper__prev, .swiper__next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 4.2rem;
	width: 4.2rem;
	border-radius: var(--brs);

	&::before {
		content: '';
		position: absolute;
		inset: 0;

		background-image: url('../img/icons/arrow-right.svg');
		background-size: cover;
	}

	// box-shadow: 0 0 .3rem 0 #b3b3b3;

	z-index: 1;
	cursor: pointer;

	@media screen and (max-width: 1400px) {
		background-color: var(--grey200);
	}

	@media screen and (max-width: $b_768px) {
		display: none;
		height: 3.2rem;
		width: 3.2rem;
	}
}

.swiper__prev {
	left: calc(-4.2rem - 1.5rem);
	transform: translateY(-50%) rotate(180deg);

	@media screen and (max-width: 1400px) {
		left: -1.5rem;
	}
}

.swiper__next {
	right: calc(-4.2rem - 1.5rem);

	@media screen and (max-width: 1400px) {
		right: -1.5rem;
	}
}

.product-slider--dark {
	&~.swiper__prev, &~.swiper__next {
		background-color: var(--grey900);
		&::before {
			filter: brightness(0) invert(1);
		}
	}
}

.swiper-button-disabled {
	opacity: .5;
	cursor: auto;
}

.swiper-pagination-bullet-active {
	background-color: var(--color-main) !important;
}

// Страница показа верстки
.index {
	.info {
		padding: 2.5rem;
		background-color: #fff9c4;
	}

	.index a {
		text-decoration: underline;
		color: #06c;
	}
}