@use "sass:math";

.mobile-menu {
    box-shadow: 2px 2px 2px var(--grey300);
	padding: 0 0 32px 0;

	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;

	width: 100%;
	max-width: 300px;
	height: 100vh;

	background-color: #fff;
	transform: translateX(-100%);
	transition: transform .25s;

	@media (max-width: $b_480px) {
		max-width: 100%;
	}

	&.toggle {
		transform: translateX(0);
		overflow-y: auto;
	}

}

.mobile-menu__wrapper {
	// padding: 15px 0;

	display: flex;
	flex-direction: column;
	align-items: flex-start;

	height: auto;
	overflow-y: auto;
}

.mobile-menu__big {
    margin-bottom: 24px;
}

.mobile-menu__mini {
    margin-bottom: 24px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;

    @media screen and (max-width: $b_480px) {
        padding-left: 15px;
        padding-right: 15px;
    }

    a {
        display: inline-flex;
        padding-top: 5px;
        padding-bottom: 5px;
        
        @include fz-14_fw-400;
        @include grey700;
        text-decoration: none;
    }
}

.mobile-menu__phone {
    margin-bottom: 12px;
    padding-left: 30px;
    padding-right: 30px;

    font-size: 16px;
    @include grey900;

    @media screen and (max-width: $b_480px) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.mobile-menu__social {
    padding-left: 30px;
    padding-right: 30px;

    @media screen and (max-width: $b_480px) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.mob-menu {
    width: 100%;
}
.mob-menu__item {
    position: relative;

    &:first-child .mob-menu__link {
        border-top: 1px solid var(--grey300);
    }
}
.dropdown {
}
.mob-menu__link {
    padding: 16px 58px 16px 30px;

    display: flex;
    align-items: center;
    gap: 12px;

    border-bottom: 1px solid var(--grey300);

    @media screen and (max-width: $b_480px) {
        padding-left: 15px;
        padding-right: 50px;
    }

    &::before {
        content: '';
        position: absolute;
        right: 30px;
        top: 17px;
        
        width: 24px;
        height: 24px;

        transform: rotate(-90deg);
        
        background-image: url('../img/icons/arrow-down.svg');
        background-size: cover;

        @media screen and (max-width: $b_480px) {
            right: 15px;
        }
    }

    .mob-menu__item.toggle & {
        background-color: var(--grey200);
        padding: 16px 30px 16px 58px;

        &::before {
            transform: rotate(90deg);
            left: 30px;
            right: initial;

            @media screen and (max-width: $b_480px) {
                left: 15px;
            }
        }
    }
}

.mobile-menu .socials {
    margin-left: -3px;
}

.mob-submenu {
    display: none;

    .dropdown.toggle > & {
        display: block;
    }
}

.mob-submenu__link {
    // display: block;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 58px 8px 30px;

    font-size: 16px;
    font-weight: 400;

    border-bottom: 1px solid var(--grey300);

    @media screen and (max-width: $b_480px) {
        padding-left: 15px;
        padding-right: 50px;
    }

    .mob-submenu__item.dropdown > & {
        position: relative;
        font-weight: 500;

        &::before {
            content: '';
            position: absolute;
            right: 30px;
            top: 50%;

            width: 24px;
            height: 24px;

            transform: translateY(-50%) rotate(-90deg);

            background-image: url('../img/icons/arrow-down.svg');
            background-size: cover;

            @media screen and (max-width: $b_480px) {
                right: 15px;
            }
        }
    }

    .mob-submenu__item.dropdown.toggle > & {
        &::before {
            transform: translateY(-50%);
        }
    }

}

.mob-submenu__item {

}

.mob-submenu__icon {
    height: 24px;
    width: auto;
}