

.options-type {
    // display: none;
    position: relative;
    z-index: 2;

    // overflow: hidden;
    background-color: #fff;
    border-radius: var(--brs);

    &.toggle {
        overflow: initial;
        z-index: 3;
    }
}

.options-type__current {
    cursor: pointer;
    
    .title {
        position: relative;
        top: 1px;
        left: 1px;
        cursor: pointer;
        transition: .25s;
        // display: inline-flex;
        padding: 6px 48px 6px 16px;

        // min-width: 110px;
        height: 36px;

        color: var(--grey600);
        white-space: nowrap;


        background-color: var(--grey200);
        border-radius: 8px;

        &::before {
            content: '';
            position: absolute;
            right: 16px;
            top: 50%;
            
            width: 24px;
            height: 24px;
            
            transform: translateY(-50%);
            
            background-image: url('../img/icons/arrow-down.svg');
            background-size: cover;
        }
    }
}

.icon {
    position: absolute;
    content: '';

    top: 50%;
    right: 0;
    transform: translateY(-50%);

    width: 36px;
    height: 36px;

    // background-image: url('../img/icons/triangle.svg');
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;

    .options-type.toggle & {
        transform: translateY(-50%) rotate(-180deg);
    }
}

.options-type__variants {
    display: none;
    padding: 12px 12px 8px;
    border-radius: 8px;

    position: absolute;
    top: 101%;
    z-index: 1;
    left: 0;

    background-color: #fff;
    box-shadow: 0px 0px 3px var(--grey200);

    .options-type.toggle & {
        display: block;
    }
}
.variants-item {
    display: none;

    padding-top: 8px;
    padding-bottom: 8px;
    min-width: 200px;

    cursor: pointer;

    &:last-child {
        padding-bottom: 16px;
    }

    .options-type.toggle & {
        display: block;
    }
}

.search {
    .options-type__current .title {
        font-weight: 600;
    }
}

.toggle-hb {
    .options-type__current .title {
        padding-right: 0;
        padding-left: 21px;

        @include fz-14_fw-600_lh-14-24;
        @include grey900;
        background-color: transparent;

        &::before {
            left: 0;
            right: initial;
            background-image: url('../img/icons/arrow-down-2.svg');
            height: 16px;
            width: 16px;
        }
    }

    .variants-item {
        @include fz-14_fw-400_lh-14-24;
        @include grey700;
    }
}