.product-slider {
}
.product-slider__wrapper {
    align-items: stretch !important;
}
.product-slider__item {
}
.product-slide {
    height: auto !important;

    display: flex;
    flex-direction: column;
}
.product-slide__box {
    position: relative;
    overflow: hidden;
    margin-bottom: 16px;

    border-radius: var(--brs);
}
.product-slide__img {
    display: block;

    width: 100%;
    height: auto;
    border-radius: var(--brs);
}
.product-slide__text {
    padding: 8px 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 0;
    bottom: -100%;
    width: 100%;

    min-height: 56px;

    font-size: 16px;
    color: var(--grey900);
    line-height: 1.2;
    text-align: center;

    background-color: rgba(#FDFDFD, .7);
    transition: bottom .25s;

    .product-slide:hover & {
        bottom: 0;
    }

    @media screen and (max-width: $b_992px) {
        bottom: 0;
    }

    @media screen and (max-width: $b_768px) {
        font-size: 12px;
    }
}
.product-slide__title {
    @include h3;
    color: var(--grey900);

    @media screen and (max-width: $b_768px) {
        @include h4_card_mob;
    }
}
.product-slide__descr {
    margin-bottom: 34px;

    @include text_2;
    color: var(--grey600);

    @media screen and (max-width: $b_768px) {
        font-size: 12px;
    }
}
.product-slide__inner {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @media screen and (max-width: $b_768px) {
        align-items: center;
    }
}
.product-slide__price {
    @include h3;
    color: var(--grey900);

    @media screen and (max-width: $b_768px) {
        font-size: 14px;
    }

    .old-price {
        margin-left: 2px;
        @include fz-14_fw-400_lh-14-24;
        @include grey600;
        text-decoration: line-through;

        @media screen and (max-width: $b_768px) {
            font-size: 12px;
        }
    }
}
.product-slide__favorite {
    position: relative;
    padding-left: 30px;

    min-height: 24px;

    @include text_2;
    color: var(--grey900);

    background-color: transparent;
    border: none;
    cursor: pointer;

    transition: transform .25s;

    &:hover {
        transform: translateY(-2px);

        @media screen and (max-width: $b_992px) {
            transform: none;
        }
    }


    @media screen and (max-width: $b_768px) {
        padding-left: 18px;
        font-size: 0;
    }

    &::before {
        content: '';
        position: absolute;
        left: 0px;
        top: 11px;
        
        width: 24px;
        height: 24px;
        
        transform: translateY(-50%);
        
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-image: url('../img/icons/heart.svg');
    }
}

.product-slide__favorite.toggle::before {
    background-image: url('../img/icons/heart-fill.svg');
}

.product-slider--dark {
    .product-slide__title,
    .product-slide__price,
    .product-slide__favorite {
        color: var(--grey100);
    }
    .product-slide__descr,
    .product-slide__price .old-price {
        color: var(--grey300);
    }
     
    .product-slide__favorite::before {
        filter: brightness(0) invert(1);
    }
}