@use "sass:math";

// Брейкпоинты

$break_1440px: 1440px;
$break_1200px: 1200px;
$break_992px: 992px;
$break_800px: 800px;
$break_768px: 768px;
$break_480px: 480px;
$break_330px: 330px;


:root {

    // Цвета
    --grey000: #fff;
    --grey100: #FDFDFD;
    --grey200: #F1EEF1;
    --grey300: #DDDEE6;
    --grey600: #9D9595;
    --grey700: #545454;
    --grey900: #1C1D20;

    // Шрифты
    --font-family: 'Manrope', sans-serif;

    // Скругления
    --brs: .6rem;

    // Размеры
    --mainGap: 20px;
    @media (max-width: $break_1200px) {
        --mainGap: 10px;
    }

    --indentBlocks: 4.8rem;
    @media (max-width: $break_1200px) {
        --indentBlocks: 4rem;
    }

    --containerPadding: 2rem;
    @media screen and (max-width: $break_992px) {
        --containerPadding: 1.5rem;
    }

    --heroMinCol: calc(100% / 5 - 3 / 4 * var(--mainGap));
    --heroMaxCol: calc((100% - var(--heroMinCol) - 3 / 4 * var(--mainGap)) / 3);

    // Элементы сайта
    --catalogMenuWidth: 160px;
}