.b01.b-indent
	.b01__container.container
		.b01__box
			.b01__slider.big-slider.jsBigSlider.swiper
				.big-slider__wrapper.swiper-wrapper
					.big-slider__item.swiper-slide
						a(href="#").big-slider__link
							picture()
								source(srcset="img/content/top-slider/01m.jpg" media="(max-width: 480px)")
								img(src="img/content/top-slider/01.jpg", alt="").big-slider__img
						a(href="#").big-slider__link
							picture()
								source(srcset="img/content/top-slider/02.jpg" media="(max-width: 480px)")
								img(src="img/content/top-slider/02.jpg", alt="").big-slider__img
						a(href="#").big-slider__link
							picture()
								source(srcset="img/content/top-slider/03.jpg" media="(max-width: 480px)")
								img(src="img/content/top-slider/03.jpg", alt="").big-slider__img
						a(href="#").big-slider__link
							picture()
								source(srcset="img/content/top-slider/04.jpg" media="(max-width: 480px)")
								img(src="img/content/top-slider/04.jpg", alt="").big-slider__img

					.big-slider__item.swiper-slide
						a(href="#").big-slider__link
							picture()
								source(srcset="img/content/top-slider/05m.jpg" media="(max-width: 480px)")
								img(src="img/content/top-slider/05.jpg", alt="").big-slider__img
						a(href="#").big-slider__link
							picture()
								source(srcset="img/content/top-slider/06.jpg" media="(max-width: 480px)")
								img(src="img/content/top-slider/06.jpg", alt="").big-slider__img
						a(href="#").big-slider__link
							picture()
								source(srcset="img/content/top-slider/07.jpg" media="(max-width: 480px)")
								img(src="img/content/top-slider/07.jpg", alt="").big-slider__img
						a(href="#").big-slider__link
							picture()
								source(srcset="img/content/top-slider/08.jpg" media="(max-width: 480px)")
								img(src="img/content/top-slider/08.jpg", alt="").big-slider__img

				
			.jsBigSlider__prev.swiper__prev
			.jsBigSlider__next.swiper__next
			.jsBigSlider__pagination
