
// доделать добавление в избранное

.b02.b-indent.jsSale
	.b02__container.container
		.b02__top.b-top
			.b04__title.b-title Скидки
			a(href="#").b-top__readmore Все товары со скидками

		.b02__slider
			.product-slider.jsProductSliderSale.swiper
				.product-slider__wrapper.swiper-wrapper

					a(href="#").product-slider__item.product-slide.swiper-slide
						.product-slide__box
							img(src="img/content/productSliderSale/01.jpg", alt="").product-slide__img
							.product-slide__text 
								span 63% п/э, 32% вискоза, 5% эластан
						.product-slide__title Костюмные Grape
						.product-slide__descr 13 цветов
						.product-slide__inner
							.product-slide__price 987 р.
								span.old-price 1120 р.
							button.product-slide__favorite Избранное

					a(href="#").product-slider__item.product-slide.swiper-slide
						.product-slide__box
							img(src="img/content/productSliderSale/02.jpg", alt="").product-slide__img
							.product-slide__text 
								span 100% п/э
						.product-slide__title Поплин MAISON
						.product-slide__descr 9 цветов
						.product-slide__inner
							.product-slide__price 720 р.
								span.old-price 980 р.
							button.product-slide__favorite Избранное

					a(href="#").product-slider__item.product-slide.swiper-slide
						.product-slide__box
							img(src="img/content/productSliderSale/04.jpg", alt="").product-slide__img
							.product-slide__text 
								span 100% п/э
						.product-slide__title Бархат BARSELONA
						.product-slide__descr 29 цветов
						.product-slide__inner
							.product-slide__price 479 р.
								span.old-price 587 р.
							button.product-slide__favorite Избранное

					a(href="#").product-slider__item.product-slide.swiper-slide
						.product-slide__box
							img(src="img/content/productSliderSale/03.jpg", alt="").product-slide__img
							.product-slide__text 
								span 63% п/э, 32% вискоза, 5% эластан
						.product-slide__title Лён Stripe
						.product-slide__descr 8 цветов
						.product-slide__inner
							.product-slide__price 658 р.
								span.old-price 787 р.
							button.product-slide__favorite Избранное

			.jsProductSliderSale__prev.swiper__prev
			.jsProductSliderSale__next.swiper__next

		.b02__bottom.b02-bottom.b-bottom