.b04
    img(src="../../img/content/b04-bg.jpg", alt="").b04__img
    .b04__container.container
        .b04__title.b-title Фурнитура для ваших идей
        .b04__descr.b-descr Вся фурнитура в одном месте. Всегда в наличии нитки, молнии, ленты, крючки для одежды и всё, что вам необходимо для комфортной работы!
        .b04__btn.btn Перейти в каталог