.b05
	.b05__container.container
		.b05__title.b-title Компания RUNA TEX
		.b05__box.b05-box
			.b05-box__item.b05-item
				img(src="img/icons/adv-01.svg", alt="").b05-item__icon
				.b05-item__title Масштабы
			.b05-box__item.b05-item
				img(src="img/icons/adv-02.svg", alt="").b05-item__icon
				.b05-item__title Уникальный дизайн
			.b05-box__item.b05-item
				img(src="img/icons/adv-03.svg", alt="").b05-item__icon
				.b05-item__title Производство
			.b05-box__item.b05-item
				img(src="img/icons/adv-04.svg", alt="").b05-item__icon
				.b05-item__title Эксклюзивные ткани
			.b05-box__item.b05-item
				img(src="img/icons/adv-05.svg", alt="").b05-item__icon
				.b05-item__title Гарантии
			.b05-box__item.b05-item
				img(src="img/icons/adv-06.svg", alt="").b05-item__icon
				.b05-item__title Качество