.b07
    .b07-map
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Af040eddaddae446ca89f5087b84af6b9d539df6a3f546a801d93cd00df64b5bf&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=false"></script>
    //- .b07__container.container
    .b07-box
        .b07__title.b-title Контакты
        .b07__descr-box
            .b07__descr.b-descr Наши склады, шоурумы и магазины расположены в Ростове-на-Дону и Москве. По любым вопросам вы можете обращаться по телефону 
                a(href="tel:+78002503255") 8 (800) 250-32-55
        .b07__adr г. Москва, Большая Переяславская, 7/1
        .b07__work пн-сб 10:00-20:00 <br> вс 11:00-19:00
        .b07__inner
        a(href="#").b07__btn.btn Все контакты