.products-inner

	.products-box

		a(href="#").product-slide
			.product-slide__box
				img(src="img/content/catalog-list-products/01.jpg", alt="").product-slide__img
				.product-slide__text 
					span 100% п/э
			.product-slide__title Бархат GLOSS
			.product-slide__descr 15 цветов
			.product-slide__inner
				.product-slide__price 360 р.
					span.old-price 400 р.
				button.product-slide__favorite Избранное

		a(href="#").product-slide
			.product-slide__box
				img(src="img/content/catalog-list-products/02.jpg", alt="").product-slide__img
				.product-slide__text 
					span 100% п/э
			.product-slide__title Бархат BARSELONA
			.product-slide__descr 25 цветов
			.product-slide__inner
				.product-slide__price 540 р.
					span.old-price 980 р.
				button.product-slide__favorite Избранное

		a(href="#").product-slide
			.product-slide__box
				img(src="img/content/catalog-list-products/03.jpg", alt="").product-slide__img
				.product-slide__text 
					span 100% п/э
			.product-slide__title Бархат REIS
			.product-slide__descr 5 цветов
			.product-slide__inner
				.product-slide__price 2374 р.
					//- span.old-price 980 р.
				button.product-slide__favorite Избранное

		a(href="#").product-slide
			.product-slide__box
				img(src="img/content/catalog-list-products/04.jpg", alt="").product-slide__img
				.product-slide__text 
					span 100% п/э
			.product-slide__title Бархат Чернильный
			.product-slide__descr 1 цвет
			.product-slide__inner
				.product-slide__price 1652 р.
					//- span.old-price 980 р.
				button.product-slide__favorite Избранное

		a(href="#").product-slide
			.product-slide__box
				img(src="img/content/catalog-list-products/05.jpg", alt="").product-slide__img
				.product-slide__text 
					span 100% п/э
			.product-slide__title Бархат Well
			.product-slide__descr 14 цветов
			.product-slide__inner
				.product-slide__price 467 р.
					//- span.old-price 980 р.
				button.product-slide__favorite Избранное

		a(href="#").product-slide
			.product-slide__box
				img(src="img/content/catalog-list-products/06.jpg", alt="").product-slide__img
				.product-slide__text 
					span 100% п/э
			.product-slide__title Бархат TELL
			.product-slide__descr 6 цветов
			.product-slide__inner
				.product-slide__price 654 р.
					//- span.old-price 980 р.
				button.product-slide__favorite Избранное

		a(href="#").product-slide
			.product-slide__box
				img(src="img/content/catalog-list-products/07.jpg", alt="").product-slide__img
				.product-slide__text 
					span 100% п/э
			.product-slide__title Бархат ROSSO
			.product-slide__descr 5 цветов
			.product-slide__inner
				.product-slide__price 540 р.
					//- span.old-price 980 р.
				button.product-slide__favorite Избранное

		a(href="#").product-slide
			.product-slide__box
				img(src="img/content/catalog-list-products/08.jpg", alt="").product-slide__img
				.product-slide__text
					span 100% п/э
			.product-slide__title Бархат ADRIC DG
			.product-slide__descr 1 цвет
			.product-slide__inner
				.product-slide__price 694 р.
					//- span.old-price 980 р.
				button.product-slide__favorite Избранное

		a(href="#").product-slide
			.product-slide__box
				img(src="img/content/catalog-list-products/09.jpg", alt="").product-slide__img
				.product-slide__text 
					span 100% п/э
			.product-slide__title Бархат Плиссе 4мм
			.product-slide__descr 4 цвета
			.product-slide__inner
				.product-slide__price 540 р.
					//- span.old-price 980 р.
				button.product-slide__favorite Избранное

	.text-center
		.btn Смотреть дальше