footer.footer
    .footer__container.container
        .footer__box.footer-box

            .footer__block.footer-block.footer-block__textile
                a(href="#").footer-block__header Ткани
                ul.footer-block__menu.footer-menu.grid-two-column
                    li.footer-menu__item
                        a(href="#").footer-menu__link Бельевые
                    li.footer-menu__item
                        a(href="#").footer-menu__link Блузочные
                    li.footer-menu__item
                        a(href="#").footer-menu__link Верхняя одежда
                    li.footer-menu__item
                        a(href="#").footer-menu__link Вечерние
                    li.footer-menu__item
                        a(href="#").footer-menu__link Детские
                    li.footer-menu__item
                        a(href="#").footer-menu__link Для дома
                    li.footer-menu__item
                        a(href="#").footer-menu__link Костюмные
                    li.footer-menu__item
                        a(href="#").footer-menu__link Плательные
                    li.footer-menu__item
                        a(href="#").footer-menu__link Подкладочные
                    li.footer-menu__item
                        a(href="#").footer-menu__link Рубашечные
                    li.footer-menu__item
                        a(href="#").footer-menu__link Спортивные
                    li.footer-menu__item
                        a(href="#").footer-menu__link Сценические
                    li.footer-menu__item
                        a(href="#").footer-menu__link Эксклюзивные
                    li.footer-menu__item
                        a(href="#").footer-menu__link.catalog Перейти в каталог

            .footer__block.footer-block.footer-block__furniture
                a(href="#").footer-block__header Фурнитура
                ul.footer-block__menu.footer-menu
                    li.footer-menu__item
                        a(href="#").footer-menu__link Клеевые материалы
                    li.footer-menu__item
                        a(href="#").footer-menu__link Нитки
                    li.footer-menu__item
                        a(href="#").footer-menu__link Кружево
                    li.footer-menu__item
                        a(href="#").footer-menu__link Пуговицы
                    li.footer-menu__item
                        a(href="#").footer-menu__link Резинки
                    li.footer-menu__item
                        a(href="#").footer-menu__link Косая бейка
                    li.footer-menu__item
                        a(href="#").footer-menu__link Швейные принадлежности
                    li.footer-menu__item
                        a(href="#").footer-menu__link.catalog Перейти в каталог

            .footer__block.footer-block.footer-block__buyer
                a(href="#").footer-block__header Покупателям
                ul.footer-block__menu.footer-menu.grid-two-column
                    li.footer-menu__item
                        a(href="#").footer-menu__link Доставка и оплата
                    li.footer-menu__item
                        a(href="#").footer-menu__link Выкройки и схемы
                    li.footer-menu__item
                        a(href="#").footer-menu__link Подарочные сертификаты
                    li.footer-menu__item
                        a(href="#").footer-menu__link Условия возврата
                    li.footer-menu__item
                        a(href="#").footer-menu__link Анкета для предоставления образцов

            .footer__block.footer-block.footer-block__shop
                a(href="#").footer-block__header Магазин
                ul.footer-block__menu.footer-menu
                    li.footer-menu__item
                        a(href="#").footer-menu__link Контакты
                    li.footer-menu__item
                        a(href="#").footer-menu__link О нас
                    li.footer-menu__item
                        a(href="#").footer-menu__link Акции и новости

                .footer-contacts
                    .footer-contacts__city Ростов-на-Дону
                    | пер. Автомобильный, 29
                    span (работает по предварительной записи)
                    a(href="tel:+78002503255") 8 (800) 250-32-55
                    a(href="mailto:info@runatex.store") info@runatex.store

            .footer__block.footer-block.footer-block__company
                .footer-logo
                    a(href="/") 
                        img(src="img/icons/logo-footer.svg", alt="").footer-logo__img
                    .footer-logo__text ИП Румянцева Наталья Валерьевна
                .footer-links
                    a(href="#") Политика конфиденциальности
                    a(href="#") Оферта
                img(src="img/icons/pay.png", alt="").footer-pay