
// доделать добавление в избранное

.b02.b-indent.jsFurnitura
	.b02__container.container
		.b02__top.b-top
			.b02__title.b-title Фурнитура к выбранной ткани
			a(href="#").b-top__readmore Посмотреть все товары
		
		.b02__slider
			.product-slider.jsFurnituraSlider.swiper
				.product-slider__wrapper.swiper-wrapper

					a(href="#").product-slider__item.product-slide.swiper-slide
						.product-slide__box
							img(src="img/content/slider-furnitura/01.jpg", alt="").product-slide__img
							.product-slide__text 
								span 63% п/э, 32% вискоза, 5% эластан
						.product-slide__title Лента нитепрошивная по косой 12 мм
						.product-slide__descr 35 цветов
						.product-slide__inner
							.product-slide__price 7 р.
								//- span.old-price 1120 р.
							button.product-slide__favorite Избранное

					a(href="#").product-slider__item.product-slide.swiper-slide
						.product-slide__box
							img(src="img/content/slider-furnitura/02.jpg", alt="").product-slide__img
							.product-slide__text 
								span 100% п/э
						.product-slide__title Кружево 75 мм Чёрное
						.product-slide__descr 74 цвета
						.product-slide__inner
							.product-slide__price 235 р.
								//- span.old-price 980 р.
							button.product-slide__favorite Избранное

					a(href="#").product-slider__item.product-slide.swiper-slide
						.product-slide__box
							img(src="img/content/slider-furnitura/03.jpg", alt="").product-slide__img
							.product-slide__text 
								span 63% п/э, 32% вискоза, 5% эластан
						.product-slide__title Кружево 40 мм Чёрный
						.product-slide__descr 45 цветов
						.product-slide__inner
							.product-slide__price 182 р.
								//- span.old-price 587 р.
							button.product-slide__favorite Избранное

					a(href="#").product-slider__item.product-slide.swiper-slide
						.product-slide__box
							img(src="img/content/slider-furnitura/04.jpg", alt="").product-slide__img
							.product-slide__text 
								span 100% п/э
						.product-slide__title Довязы шерстяные 9х72 см Шерсть/Полиэстер
						.product-slide__descr 5 цветов
						.product-slide__inner
							.product-slide__price 330 р.
								//- span.old-price 787 р.
							button.product-slide__favorite Избранное

			.jsFurnituraSlider__prev.swiper__prev
			.jsFurnituraSlider__next.swiper__next
		.b02__bottom.b02-bottom.b-bottom