header.header

	.header-top
		.header-top__container.container
			.location
				.location-select Ростов-на-Дону
			ul.top-menu
				li.top-menu__item
					a(href="#").top-menu__link Доставка
				li.top-menu__item
					a(href="#").top-menu__link Схемы и выкройки
				li.top-menu__item
					a(href="#").top-menu__link Акции
				li.top-menu__item
					a(href="#").top-menu__link Подарочные сертификаты
				li.top-menu__item
					a(href="#").top-menu__link Анкета для предоставления образцов
				li.top-menu__item
					a(href="#").top-menu__link Контакты

	.header-middle
		.header-middle__container.container
			a(href="#").logo
				img(src="img/icons/logo.svg", alt="", height="28", width="104").logo__img
			button.btn.btn__catalog-menu.js-burger
				span Каталог
			include ../includes/search-panel
			.user
				a(href="").user-item.user__account Александр
				a(href="").user-item.user__favourites Избранное
				a(href="").user-item.user__cart Корзина

	.header-bottom



