header.header

	.header-top
		.header-top__container.container
			.location
				.location-select Ростов-на-Дону
			ul.top-menu
				li.top-menu__item
					a(href="#").top-menu__link Доставка
				li.top-menu__item
					a(href="#").top-menu__link Схемы и выкройки
				li.top-menu__item
					a(href="#").top-menu__link Акции
				li.top-menu__item
					a(href="#").top-menu__link Подарочные сертификаты
				li.top-menu__item
					a(href="#").top-menu__link Анкета для предоставления образцов
				li.top-menu__item
					a(href="#").top-menu__link Контакты

	.header-middle
		.header-middle__container.container
			a(href="#").logo
				img(src="img/icons/logo.svg", alt="", height="28", width="104").logo__img
			button.btn.btn__catalog-menu.js-burger.burger__menu-btn.catalog-menu__btn
				span
				| Каталог
			include ../includes/search-panel
			.user
				a(href="").user-item.user__account Александр
				a(href="").user-item.user__favourites Избранное
				a(href="").user-item.user__cart Корзина

	.header-bottom
		.header-bottom__container.container
			.header-bottom__toggle.toggle-hb
				.options-type.options-type__toggle-hb
					.options-type__current
						.title Ткани
						.icon
					.options-type__variants
						.variants-item Ткани
						.variants-item Фурнитура
			.header-bottom__menu
				ul.header-bottom__menu.menu-hb
					li.menu-hb__item
						a(href="#").menu-hb__link Блузочные
						a(href="#").menu-hb__link Костюмные
						a(href="#").menu-hb__link Спортивные
						a(href="#").menu-hb__link Сценические
						a(href="#").menu-hb__link Подкладочные
						a(href="#").menu-hb__link Бельевые
						a(href="#").menu-hb__link Плательные
						a(href="#").menu-hb__link Детские
						a(href="#").menu-hb__link Для дома
						a(href="#").menu-hb__link Верхняя одежда
						a(href="#").menu-hb__link Вечерние
						a(href="#").menu-hb__link Эксклюзивные
						a(href="#").menu-hb__link Рубашечные
				ul.header-bottom__menu.menu-hb
					li.menu-hb__item
						a(href="#").menu-hb__link Нитки
						a(href="#").menu-hb__link Кружево
						a(href="#").menu-hb__link Пуговицы
						a(href="#").menu-hb__link Резинка
						a(href="#").menu-hb__link Косая бейка
						a(href="#").menu-hb__link Швейные принадлежности
						a(href="#").menu-hb__link Кнопки
						a(href="#").menu-hb__link Ленты
						a(href="#").menu-hb__link Клеевые материалы
						a(href="#").menu-hb__link Булавки
						a(href="#").menu-hb__link Пряжки
						a(href="#").menu-hb__link Трикотажная фурнитура
						a(href="#").menu-hb__link Декоры для одежды
						a(href="#").menu-hb__link Шнуры



