.mb01
    .mb01__container.container
        h1.mb01__title.b-title Магазин тканей и фурнитуры
        .mb01__descr.b-descr Ежедневное пополнение склада новинками с самыми популярными расцветками и принтами
        a(href="#").mb01__btn.btn Перейти в каталог