.mobile-menu
    .mobile-menu__wrapper
        ul.mobile-menu__big.mob-menu
            li.mob-menu__item.dropdown
                a(href="").mob-menu__link Ткани
            li.mob-menu__item
                a(href="").mob-menu__link Эксклюзивно 
            li.mob-menu__item
                a(href="").mob-menu__link Выбор покупателей
            li.mob-menu__item.dropdown
                a(href="").mob-menu__link Фурнитура
            li.mob-menu__item
                a(href="").mob-menu__link Новинки
            li.mob-menu__item
                a(href="").mob-menu__link Скидки
            li.mob-menu__item
                a(href="").mob-menu__link Схемы и выкройки


        ul.mobile-menu__mini
            li
                a(href="#") Доставка и оплата
            li
                a(href="#") Условия возврата
            li
                a(href="#") Подарочные сертификаты
            li
                a(href="#") Анкета для предоставления образцов
            li
                a(href="#") Контакты


        a(href="tel:+78002503255").mobile-menu__phone 8 (800) 250-32-55

        .mobile-menu__social
            .socials
                a(href="#").socials__item
                    img(src="../../img/icons/social-01.svg", alt="")
                a(href="#").socials__item
                    img(src="../../img/icons/social-02.svg", alt="")