.mobile-menu
	.mobile-menu__wrapper
		ul.mobile-menu__big.mob-menu
			li.mob-menu__item.dropdown
				a(href="#").mob-menu__link
					img(src="img/icons/mob-menu-items/01.png", alt="").mob-menu__icon
					| Ткани
				ul.mob-submenu
					li.mob-submenu__item.dropdown
						a(href="#").mob-submenu__link По алфавиту
						ul.mob-submenu
							li.mob-submenu__item
								a(href="#").mob-submenu__link Атлас
							li.mob-submenu__item
								a(href="#").mob-submenu__link Бархат
							li.mob-submenu__item
								a(href="#").mob-submenu__link Бифлекс
							li.mob-submenu__item
								a(href="#").mob-submenu__link Букле
							li.mob-submenu__item
								a(href="#").mob-submenu__link Вельвет
							li.mob-submenu__item
								a(href="#").mob-submenu__link Велюр
							li.mob-submenu__item
								a(href="#").mob-submenu__link Вискоза
							li.mob-submenu__item
								a(href="#").mob-submenu__link Вуаль
							li.mob-submenu__item
								a(href="#").mob-submenu__link Джерси
							li.mob-submenu__item
								a(href="#").mob-submenu__link Джинс
							li.mob-submenu__item
								a(href="#").mob-submenu__link Жаккард
							li.mob-submenu__item
								a(href="#").mob-submenu__link Замша
							li.mob-submenu__item
								a(href="#").mob-submenu__link Кожа
							li.mob-submenu__item
								a(href="#").mob-submenu__link Костюмные
							li.mob-submenu__item
								a(href="#").mob-submenu__link Котон
							li.mob-submenu__item
								a(href="#").mob-submenu__link Креп
							li.mob-submenu__item
								a(href="#").mob-submenu__link Кружево
							li.mob-submenu__item
								a(href="#").mob-submenu__link Купра
							li.mob-submenu__item
								a(href="#").mob-submenu__link Курточная ткань
							li.mob-submenu__item
								a(href="#").mob-submenu__link Лайкра
							li.mob-submenu__item
								a(href="#").mob-submenu__link Лён
							li.mob-submenu__item
								a(href="#").mob-submenu__link Марлевка
							li.mob-submenu__item
								a(href="#").mob-submenu__link Мех
							li.mob-submenu__item
								a(href="#").mob-submenu__link Муслин
							li.mob-submenu__item
								a(href="#").mob-submenu__link Неопрен
							li.mob-submenu__item
								a(href="#").mob-submenu__link Органза
							li.mob-submenu__item
								a(href="#").mob-submenu__link Пайетки
							li.mob-submenu__item
								a(href="#").mob-submenu__link Пальтовые
							li.mob-submenu__item
								a(href="#").mob-submenu__link Парча
							li.mob-submenu__item
								a(href="#").mob-submenu__link Плательные
							li.mob-submenu__item
								a(href="#").mob-submenu__link Плащевка
							li.mob-submenu__item
								a(href="#").mob-submenu__link Подкладочные
							li.mob-submenu__item
								a(href="#").mob-submenu__link Поплин
							li.mob-submenu__item
								a(href="#").mob-submenu__link Прошва
							li.mob-submenu__item
								a(href="#").mob-submenu__link Сатин
							li.mob-submenu__item
								a(href="#").mob-submenu__link Сетка
							li.mob-submenu__item
								a(href="#").mob-submenu__link Сорочечная
							li.mob-submenu__item
								a(href="#").mob-submenu__link Тафта
							li.mob-submenu__item
								a(href="#").mob-submenu__link Твид
							li.mob-submenu__item
								a(href="#").mob-submenu__link Твил
							li.mob-submenu__item
								a(href="#").mob-submenu__link Тенсель
							li.mob-submenu__item
								a(href="#").mob-submenu__link Ткани Италии
							li.mob-submenu__item
								a(href="#").mob-submenu__link Трикотаж
							li.mob-submenu__item
								a(href="#").mob-submenu__link Трикотаж бельевой
							li.mob-submenu__item
								a(href="#").mob-submenu__link Трикотаж вязаный
							li.mob-submenu__item
								a(href="#").mob-submenu__link Трикотаж Кашкорсе
							li.mob-submenu__item
								a(href="#").mob-submenu__link Трикотаж лапша
							li.mob-submenu__item
								a(href="#").mob-submenu__link Трикотаж масло
							li.mob-submenu__item
								a(href="#").mob-submenu__link Утеплитель
							li.mob-submenu__item
								a(href="#").mob-submenu__link Фатин
							li.mob-submenu__item
								a(href="#").mob-submenu__link Фланель
							li.mob-submenu__item
								a(href="#").mob-submenu__link Флис
							li.mob-submenu__item
								a(href="#").mob-submenu__link Футер
							li.mob-submenu__item
								a(href="#").mob-submenu__link Хлопок
							li.mob-submenu__item
								a(href="#").mob-submenu__link Шелк искусственный
							li.mob-submenu__item
								a(href="#").mob-submenu__link Шёлк натуральный
							li.mob-submenu__item
								a(href="#").mob-submenu__link Шифон
							li.mob-submenu__item
								a(href="#").mob-submenu__link Штапель
					li.mob-submenu__item.dropdown
						a(href="#").mob-submenu__link По виду
						ul.mob-submenu
							li.mob-submenu__item
								a(href="#").mob-submenu__link Бельевые
							li.mob-submenu__item
								a(href="#").mob-submenu__link Блузочные
							li.mob-submenu__item
								a(href="#").mob-submenu__link Верхняя одежда
							li.mob-submenu__item
								a(href="#").mob-submenu__link Вечерние
							li.mob-submenu__item
								a(href="#").mob-submenu__link Эксклюзивные
							li.mob-submenu__item
								a(href="#").mob-submenu__link Детские
							li.mob-submenu__item
								a(href="#").mob-submenu__link Для дома
							li.mob-submenu__item
								a(href="#").mob-submenu__link Костюмные
							li.mob-submenu__item
								a(href="#").mob-submenu__link Плательные
							li.mob-submenu__item
								a(href="#").mob-submenu__link Подкладочные
							li.mob-submenu__item
								a(href="#").mob-submenu__link Рубашечные
							li.mob-submenu__item
								a(href="#").mob-submenu__link Спортивные
							li.mob-submenu__item
								a(href="#").mob-submenu__link Сценические
					li.mob-submenu__item.dropdown
						a(href="#").mob-submenu__link По рисунку
						ul.mob-submenu
							li.mob-submenu__item
								a(href="#").mob-submenu__link ЗигЗаг
							li.mob-submenu__item
								a(href="#").mob-submenu__link Индийские Огурцы (Пейсли)
							li.mob-submenu__item
								a(href="#").mob-submenu__link Круги
							li.mob-submenu__item
								a(href="#").mob-submenu__link Лица
							li.mob-submenu__item
								a(href="#").mob-submenu__link Надписи
							li.mob-submenu__item
								a(href="#").mob-submenu__link Объёмный рисунок
							li.mob-submenu__item
								a(href="#").mob-submenu__link Пятна
							li.mob-submenu__item
								a(href="#").mob-submenu__link Абстракция
							li.mob-submenu__item
								a(href="#").mob-submenu__link Буквы
							li.mob-submenu__item
								a(href="#").mob-submenu__link Веточки
							li.mob-submenu__item
								a(href="#").mob-submenu__link Вкусняшки
							li.mob-submenu__item
								a(href="#").mob-submenu__link Геометрия
							li.mob-submenu__item
								a(href="#").mob-submenu__link Горох
							li.mob-submenu__item
								a(href="#").mob-submenu__link Горошки
							li.mob-submenu__item
								a(href="#").mob-submenu__link Градиент
							li.mob-submenu__item
								a(href="#").mob-submenu__link Граффити
							li.mob-submenu__item
								a(href="#").mob-submenu__link Гусиная Лапка
							li.mob-submenu__item
								a(href="#").mob-submenu__link Детские
							li.mob-submenu__item
								a(href="#").mob-submenu__link Звезды
							li.mob-submenu__item
								a(href="#").mob-submenu__link Звериные
							li.mob-submenu__item
								a(href="#").mob-submenu__link Зверушки
							li.mob-submenu__item
								a(href="#").mob-submenu__link Зебра
							li.mob-submenu__item
								a(href="#").mob-submenu__link Камуфляж
							li.mob-submenu__item
								a(href="#").mob-submenu__link Капли
							li.mob-submenu__item
								a(href="#").mob-submenu__link Клетка
							li.mob-submenu__item
								a(href="#").mob-submenu__link Леопард
							li.mob-submenu__item
								a(href="#").mob-submenu__link Листики
							li.mob-submenu__item
								a(href="#").mob-submenu__link Насекомые
							li.mob-submenu__item
								a(href="#").mob-submenu__link Новогодние
							li.mob-submenu__item
								a(href="#").mob-submenu__link Огурцы
							li.mob-submenu__item
								a(href="#").mob-submenu__link Полоска
							li.mob-submenu__item
								a(href="#").mob-submenu__link Предметы
							li.mob-submenu__item
								a(href="#").mob-submenu__link Птицы
							li.mob-submenu__item
								a(href="#").mob-submenu__link Птички
							li.mob-submenu__item
								a(href="#").mob-submenu__link Пшено
							li.mob-submenu__item
								a(href="#").mob-submenu__link Пятна
							li.mob-submenu__item
								a(href="#").mob-submenu__link Растительные
							li.mob-submenu__item
								a(href="#").mob-submenu__link Сердечки
							li.mob-submenu__item
								a(href="#").mob-submenu__link Спорт
							li.mob-submenu__item
								a(href="#").mob-submenu__link Съедобные
							li.mob-submenu__item
								a(href="#").mob-submenu__link Транспорт
							li.mob-submenu__item
								a(href="#").mob-submenu__link Узор
							li.mob-submenu__item
								a(href="#").mob-submenu__link Фрукты
							li.mob-submenu__item
								a(href="#").mob-submenu__link Цветочки
							li.mob-submenu__item
								a(href="#").mob-submenu__link Цветы
							li.mob-submenu__item
								a(href="#").mob-submenu__link Цепи
							li.mob-submenu__item
								a(href="#").mob-submenu__link Человечки
							li.mob-submenu__item
								a(href="#").mob-submenu__link Штрихи
							li.mob-submenu__item
								a(href="#").mob-submenu__link Ягодки
							li.mob-submenu__item
								a(href="#").mob-submenu__link Ёлочка
					li.mob-submenu__item.dropdown
						a(href="#").mob-submenu__link По цвету
						ul.mob-submenu
							li.mob-submenu__item
								a(href="#").mob-submenu__link
									img(src="img/icons/colors/01.svg", alt="").mob-submenu__icon
									| Белый
							li.mob-submenu__item
								a(href="#").mob-submenu__link
									img(src="img/icons/colors/02.svg", alt="").mob-submenu__icon
									| Оранжевый
							li.mob-submenu__item
								a(href="#").mob-submenu__link
									img(src="img/icons/colors/03.svg", alt="").mob-submenu__icon
									| Коричневый
							li.mob-submenu__item
								a(href="#").mob-submenu__link 
									img(src="img/icons/colors/04.svg", alt="").mob-submenu__icon
									| Синий
							li.mob-submenu__item
								a(href="#").mob-submenu__link 
									img(src="img/icons/colors/05.svg", alt="").mob-submenu__icon
									| Чёрный
							li.mob-submenu__item
								a(href="#").mob-submenu__link
									img(src="img/icons/colors/06.svg", alt="").mob-submenu__icon
									| Светлый
							li.mob-submenu__item
								a(href="#").mob-submenu__link
									img(src="img/icons/colors/07.svg", alt="").mob-submenu__icon
									| Коралловый
							li.mob-submenu__item
								a(href="#").mob-submenu__link
									img(src="img/icons/colors/08.svg", alt="").mob-submenu__icon
									| Фуксия
							li.mob-submenu__item
								a(href="#").mob-submenu__link
									img(src="img/icons/colors/09.svg", alt="").mob-submenu__icon
									| Зелёный
							li.mob-submenu__item
								a(href="#").mob-submenu__link
									img(src="img/icons/colors/10.svg", alt="").mob-submenu__icon
									| Мультиколор
							li.mob-submenu__item
								a(href="#").mob-submenu__link
									img(src="img/icons/colors/11.svg", alt="").mob-submenu__icon
									| Бежевый
							li.mob-submenu__item
								a(href="#").mob-submenu__link 
									img(src="img/icons/colors/12.svg", alt="").mob-submenu__icon
									| Розовый
							li.mob-submenu__item
								a(href="#").mob-submenu__link
									img(src="img/icons/colors/13.svg", alt="").mob-submenu__icon
									| Бордовый
							li.mob-submenu__item
								a(href="#").mob-submenu__link
									img(src="img/icons/colors/14.svg", alt="").mob-submenu__icon
									| Бирюзовый
							li.mob-submenu__item
								a(href="#").mob-submenu__link
									img(src="img/icons/colors/15.svg", alt="").mob-submenu__icon
									| Чёрно-белый
							li.mob-submenu__item
								a(href="#").mob-submenu__link
									img(src="img/icons/colors/16.svg", alt="").mob-submenu__icon
									| Нюдовый
							li.mob-submenu__item
								a(href="#").mob-submenu__link
									img(src="img/icons/colors/17.svg", alt="").mob-submenu__icon
									| Красный
							li.mob-submenu__item
								a(href="#").mob-submenu__link
									img(src="img/icons/colors/18.svg", alt="").mob-submenu__icon
									| Фиолетовый
							li.mob-submenu__item
								a(href="#").mob-submenu__link
									img(src="img/icons/colors/19.svg", alt="").mob-submenu__icon
									| Хаки
							li.mob-submenu__item
								a(href="#").mob-submenu__link
									img(src="img/icons/colors/20.svg", alt="").mob-submenu__icon
									| Жёлтый
							li.mob-submenu__item
								a(href="#").mob-submenu__link
									img(src="img/icons/colors/21.svg", alt="").mob-submenu__icon
									| Терракотовый
							li.mob-submenu__item
								a(href="#").mob-submenu__link
									img(src="img/icons/colors/22.svg", alt="").mob-submenu__icon
									| Голубой
							li.mob-submenu__item
								a(href="#").mob-submenu__link
									img(src="img/icons/colors/23.svg", alt="").mob-submenu__icon
									| Серый

			li.mob-menu__item
				a(href="#").mob-menu__link
					img(src="img/icons/mob-menu-items/02.png", alt="").mob-menu__icon
					| Эксклюзивно
			li.mob-menu__item
				a(href="#").mob-menu__link
					img(src="img/icons/mob-menu-items/03.svg", alt="").mob-menu__icon
					| Выбор покупателей
			li.mob-menu__item.dropdown
				a(href="#").mob-menu__link
					img(src="img/icons/mob-menu-items/04.png", alt="").mob-menu__icon
					| Фурнитура
				ul.mob-submenu
					li.mob-submenu__item
						a(href="#").mob-submenu__link Клеевые материалы
					li.mob-submenu__item
						a(href="#").mob-submenu__link Нитки
					li.mob-submenu__item
						a(href="#").mob-submenu__link Кружево
					li.mob-submenu__item
						a(href="#").mob-submenu__link Пуговицы
					li.mob-submenu__item
						a(href="#").mob-submenu__link Резинка
					li.mob-submenu__item
						a(href="#").mob-submenu__link Косая бейка
					li.mob-submenu__item
						a(href="#").mob-submenu__link Швейные принадлежности
					li.mob-submenu__item
						a(href="#").mob-submenu__link Кнопки
					li.mob-submenu__item
						a(href="#").mob-submenu__link Ленты
					li.mob-submenu__item
						a(href="#").mob-submenu__link Булавки
					li.mob-submenu__item
						a(href="#").mob-submenu__link Пряжки
					li.mob-submenu__item
						a(href="#").mob-submenu__link Трикотажная фурнитура
					li.mob-submenu__item
						a(href="#").mob-submenu__link Декоры для одежды
					li.mob-submenu__item
						a(href="#").mob-submenu__link Шнуры
			li.mob-menu__item
				a(href="#").mob-menu__link Новинки
			li.mob-menu__item
				a(href="#").mob-menu__link Скидки
			li.mob-menu__item
				a(href="#").mob-menu__link Схемы и выкройки


		ul.mobile-menu__mini
			li
				a(href="#") Доставка и оплата
			li
				a(href="#") Условия возврата
			li
				a(href="#") Подарочные сертификаты
			li
				a(href="#") Анкета для предоставления образцов
			li
				a(href="#") Контакты


		a(href="tel:+78002503255").mobile-menu__phone 8 (800) 250-32-55

		.mobile-menu__social
			.socials
				a(href="#").socials__item
					img(src="../../img/icons/social-01.svg", alt="")
				a(href="#").socials__item
					img(src="../../img/icons/social-02.svg", alt="")