main.main.product-page
    .product-page__container.container
        .product-page__photo.pp-photo
            .pp-photo__big.big-photo
                .big-photo__wrapper
                    img(src="img/content/product/big-photo/01.jpg", alt="").big-photo__item
                    img(src="img/content/product/big-photo/02.jpg", alt="").big-photo__item
                    img(src="img/content/product/big-photo/03.jpg", alt="").big-photo__item
                    img(src="img/content/product/big-photo/04.jpg", alt="").big-photo__item
                    img(src="img/content/product/big-photo/05.jpg", alt="").big-photo__item
                    img(src="img/content/product/big-photo/06.jpg", alt="").big-photo__item

            .pp-photo__mini.mini-photo
                .mini-photo__wrapper
                    .mini-photo__item
                        img(src="img/content/product/mini-photo/01.jpg", alt="").mini-photo__img
                        img(src="img/content/product/mini-photo/02.jpg", alt="").mini-photo__img
                        img(src="img/content/product/mini-photo/03.jpg", alt="").mini-photo__img
                        img(src="img/content/product/mini-photo/04.jpg", alt="").mini-photo__img
                        img(src="img/content/product/mini-photo/05.jpg", alt="").mini-photo__img
                        img(src="img/content/product/mini-photo/06.jpg", alt="").mini-photo__img

        .product-page__info
            .pp-info
                
                h1.pp-info__title.page-title Футер FURRY
                
                .pp-info__art арт. ПУ136
                
                .pp-info__descr
                    p
                        b Состав:
                        | 70% хлопок 30% п/э
                    p
                        b Ширина:
                        | 180 см
                    p
                        b Удельная плотность:
                        | 280 гр/м2
                    p
                        b Страна производитель:
                        | Турция 

                a(href="#").pp-info__more Все характеристики


        .product-page__descr
