
// доделать добавление в избранное

.b02.b-indent.jsRecommend
	.b02__container.container
		.b02__top.b-top
			.b02__title.b-title С этим товаром покупают
			a(href="#").b-top__readmore Посмотреть все товары
		
		.b02__slider
			.product-slider.jsRecommendSlider.swiper
				.product-slider__wrapper.swiper-wrapper

					a(href="#").product-slider__item.product-slide.swiper-slide
						.product-slide__box
							img(src="img/content/slider-recommend/01.jpg", alt="").product-slide__img
							.product-slide__text 
								span 63% п/э, 32% вискоза, 5% эластан
						.product-slide__title Футер SYDNEY
						.product-slide__descr 35 цветов
						.product-slide__inner
							.product-slide__price 698 р.
								span.old-price 1120 р.
							button.product-slide__favorite Избранное

					a(href="#").product-slider__item.product-slide.swiper-slide
						.product-slide__box
							img(src="img/content/slider-recommend/02.jpg", alt="").product-slide__img
							.product-slide__text 
								span 100% п/э
						.product-slide__title Трикотаж Кашкорсе TEX STERN
						.product-slide__descr 74 цвета
						.product-slide__inner
							.product-slide__price 598 р.
								span.old-price 980 р.
							button.product-slide__favorite Избранное

					a(href="#").product-slider__item.product-slide.swiper-slide
						.product-slide__box
							img(src="img/content/slider-recommend/03.jpg", alt="").product-slide__img
							.product-slide__text 
								span 63% п/э, 32% вискоза, 5% эластан
						.product-slide__title Трикотаж Кашкорсе AIRBAND
						.product-slide__descr 45 цветов
						.product-slide__inner
							.product-slide__price 598 р.
								span.old-price 587 р.
							button.product-slide__favorite Избранное

					a(href="#").product-slider__item.product-slide.swiper-slide
						.product-slide__box
							img(src="img/content/slider-recommend/04.jpg", alt="").product-slide__img
							.product-slide__text 
								span 100% п/э
						.product-slide__title Мех искуственный
						.product-slide__descr 5 цветов
						.product-slide__inner
							.product-slide__price 1454 р.
								span.old-price 787 р.
							button.product-slide__favorite Избранное

			.jsRecommendSlider__prev.swiper__prev
			.jsRecommendSlider__next.swiper__next
		.b02__bottom.b02-bottom.b-bottom