ul.tabbar
    li.tabbar__item
        a(href="#").tabbar__link.tabbar__link--active
            img(src="img/icons/tabbar/01.svg", alt="").tabbar__icon
            | Главная
    li.tabbar__item
        a(href="#").tabbar__link
            img(src="img/icons/tabbar/02.svg", alt="").tabbar__icon
            | Каталог
    li.tabbar__item
        a(href="#").tabbar__link
            img(src="img/icons/tabbar/03.svg", alt="").tabbar__icon
            | Поиск
    li.tabbar__item
        a(href="#").tabbar__link
            img(src="img/icons/tabbar/04.svg", alt="").tabbar__icon
            | Профиль
    li.tabbar__item
        a(href="#").tabbar__link
            img(src="img/icons/tabbar/05.svg", alt="").tabbar__icon
            | Помощь
