//- цвета в меню
//- мобильное меню
//- блок каталога с иконками на мобилке под банером
//- на мобильном сделать padding-top для body
//- слайдер верхний
//- таббар
//- валидация форм
//- лизи лоад карты и не только


include ../includes/mixins

doctype html
html(lang="ru-RU")
    include ../includes/head
    body
        .wrapper
            include ../includes/preloader
            include ../includes/header
            include ../includes/mb01
            include ../includes/mb02
            include ../includes/b02
            include ../includes/b03
            include ../includes/b02-sale
            include ../includes/b04
            include ../includes/b05
            include ../includes/b06
            include ../includes/b07
            include ../includes/footer
            include ../includes/mobile-menu

            //- main
