//- Важно!!! Если чистим папку dist, то после запуска сборщика нужно скопировать src/img/sprite.svg в dist/img/sprite.svg . Сборщик портит данный файл и спрайт некорректно отображается на сверстанной странице. Надо будет работу со спрайтами пофиксить.

include ../includes/mixins

//- Для pageType указать тип страницы
- var pageType = 'index';


//- catalog - страница каталога
if pageType === 'catalog'
	include catalog

//- home - главная страница
if pageType === 'home'
	include home

//- index - для показа верстки
if pageType === 'index'
	include verstka



//- глюк - в слайдерах точки не переключают слайды
//- таббар
//- валидация форм
//- лизи лоад карты и не только
//- кнопка наверх


//- Комментарии
//- Вопрос по слайдеру
//- В мобильном меню мливаются пункты третьего уровня со вторым
//- Таббар сливается с блоками с темным фоном